body {
    font-family: Arial, sans-serif;
    background-color: #111;
    color: white;
    margin: 0;
}

header {
    background-color: #c00000;
    padding: 15px;
    text-align: center;
}

main {
    padding: 20px;
}

h2 {
    color: #ff3b3b;
}

ul {
    margin-left: 20px;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #1a1a1a;
    font-size: 14px;
}