<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <meta charset="UTF-8">
    <title>addTeams</title>
</head>
<body>
<h1>Add Teams</h1>

<form action="/teams/add" method="POST">
    Team's Name:
    <input type="text" name="name" placeholder="Team's name">

    Team's Nationality:
    <input type="text" name="nationality" placeholder="Team's Nationality">

    Team's Principal:
    <input type="text" name="principal" placeholder="Team's Principal">

    Team's Championships Won:
    <input type="number" name="championshipsWon" placeholder="Team' Championships Won">
    <button type="submit">Add Team</button>
</form>

<a href="/">Home</a>

</body>
</html>
