<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <meta charset="UTF-8">
    <title>Races</title>
</head>
<body>

<h1>F1 Races</h1>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Grand Prix</th>
        <th>Circuit</th>
        <th>Country</th>
        <th>Date</th>
        <th>Season</th>
    </tr>
    </thead>
    <tbody>
    {{#races}}
        <tr>
            <td>{{id}}</td>
            <td>{{grandPrixName}}</td>
            <td>{{circuit}}</td>
            <td>{{country}}</td>
            <td>{{raceDate}}</td>
            <td>{{season}}</td>
        </tr>
    {{/races}}
    </tbody>
</table>

<br>
<a href="/races/add">Add a Race</a> |
<a href="/">Back to Home</a>

</body>
</html>